<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081521546102-v4ce46fv3gdaa6p2urgoh0tth7s61e16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081521546102-v4ce46fv3gdaa6p2urgoh0tth7s61e16</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081521546102-k2ubqdot1nuqj95v532ej01qf8mjggf5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIVnpXash-Pf3bNxK_H6LWCpAfpAn9J3c</string>
	<key>GCM_SENDER_ID</key>
	<string>1081521546102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalyearproject</string>
	<key>PROJECT_ID</key>
	<string>physiotherapy-app-d75ed</string>
	<key>STORAGE_BUCKET</key>
	<string>physiotherapy-app-d75ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081521546102:ios:2859b0103facecf7c81057</string>
	<key>DATABASE_URL</key>
	<string>https://physiotherapy-app-d75ed-default-rtdb.firebaseio.com</string>
</dict>
</plist>